@import "../../assets/scss/var";


.Messages{
    position: absolute;
    max-height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    &__in{
        overflow: auto;
    }
    &__wrap{
        max-width: 900px;
        &.-center{
            margin: auto;
        }
    }
    &__content{
        padding: 10px 14px;
        //display: flex;
        //align-items: flex-start;
        //flex-direction: column;
        //justify-content: flex-end;
        line-height: 1.8rem;
    }
    &__item{
        //width: 100%;
        //display: flex;
        //align-items: flex-end;
        //justify-content: space-between;
        padding-top: 10px;
        clear: both;
        position: relative;
        & .-ava{
            position: absolute;
            bottom: 0;
            //display: none;
        }
        & .-msg{
            max-width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            padding-left: 40px;
        }
        & .-sticker{
            position: relative;
            display: inline-block;
            //margin: -5px 0 5px;
            @extend .none-select;
            & .-time{
                right: 0;
                bottom: 0;
                border-radius: 50px;
                background: rgba(0, 0, 0, 0.2);
                color: #fff;
                padding: 1px 6px 0px;
                font-size: 1.1rem;
                position: absolute;
                z-index: 10;
            }
            & img{
                position: relative;
                //top: 10px;
                max-width: 194px;
                display: block;
            }
        }
        & .-collection{
            padding-bottom: 4px;
            display: flex;
            @extend .none-select;
            & .-www{
                -webkit-border-radius: $message_Radius;-moz-border-radius: $message_Radius;border-radius: $message_Radius;
                overflow: hidden;
            }
            & img{
                display: block;
                max-width: 100%;
            }
        }
        & .-wrapContent{
            max-width: 440px;
            position: relative;
            -webkit-border-radius: $message_Radius;-moz-border-radius: $message_Radius;border-radius: $message_Radius;
            border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;
        }
        & .-wrapMsg{
            width: 100%;
            position: relative;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
            padding: 8px 10px 7px 13px;
            display: flex;
            background: #fff;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            -webkit-border-radius: $message_Radius;-moz-border-radius: $message_Radius;border-radius: $message_Radius;
            border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;
            & .-ten{
                position: absolute;
                bottom: 0;
                right: 0;
                height: 4px;
                width: 100%;
                box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
            }
            &:hover{
                & .-nick{
                    & span{
                        opacity: 1;
                    }
                }
            }
            & .-playWraps{
                overflow: hidden;
                width: 100%;
                margin: 4px 0 -11px;
            }
            & .-ugol{
                position: absolute;
                bottom: 0;
                right: 100%;
                margin-right: -1px;
                display: flex;
                justify-content: flex-end;
                width: 9px;
                height: 20px;
                z-index: 1;
                & svg{
                    fill: #fff;
                    width: 20px;
                    height: 20px;
                }
            }
            & .-txt{
                float: left;
                flex-grow: 1;
                flex-shrink: 1;
            }
            & .-nick{
                padding-bottom: 1px;
                color: $blue;
                display: flex;
                justify-content: space-between;
                & div{
                    font-weight: 500;
                    font-size: 1.4rem;
                }
                & span{
                    color: $colorData;
                    opacity: 0;
                    font-weight: 300;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 1.3rem;
                    position: relative;
                    top: -1px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            & .-date{
                transform: translateY(6px);
                right: -2px;
                position: relative;
                padding-left: 10px;
                float: right;
                color: #999;
                font-size: 1.1rem;
                &.-newline{
                    margin-top: -16px;
                }
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
        & .-pixel{
            visibility: hidden;
            float: inherit !important;
        }
        &.-sdvigDate{
            & .-date{
                margin-top: -1.8rem;
            }
        }
        &.-music,&.-file{
            & .-wrapMsg{
                max-width: 340px;
            }
        }
        &.-full{
            & .-wrapContent{
                max-width: 100%;
            }
        }
        &.-noneUgol{
            & .-ava{
                visibility: hidden;
            }
            & .-ugol{
                display: none;
            }
            & .-wrapMsg{
                border-bottom-left-radius: $message_Radius;
                -webkit-border-bottom-left-radius: $message_Radius;
                -moz-border-radius-bottomleft: $message_Radius;

                border-bottom-right-radius: $message_Radius;
                -webkit-border-bottom-right-radius: $message_Radius;
                -moz-border-radius-bottomRight: $message_Radius;
            }
        }
        &.-right{
            max-width: 100%;
            float: right;
            & .-ava{
                padding-left: 7px;
                padding-right: 0;
                display: none;
            }
            & .-wrapContent{
                //align-items: flex-end;
                //padding-right: 0;
            }
            & .-wrapMsg{
                border-bottom-left-radius: $message_Radius;
                -webkit-border-bottom-left-radius: $message_Radius;
                -moz-border-radius-bottomleft: $message_Radius;

                border-bottom-right-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-radius-bottomRight: 0;
            }
            & .-ugol{
                right: auto;
                left: 100%;
                @extend .mirror-horizontally
            }
            & .-collection{
                justify-content: flex-end;
            }
            & .-ava{
                order: 1;
                right: 0;
                left: auto;
            }
            & .-msg{
                //padding-right: 40px;
                order: 0;
                width: 100%;
                padding-left: 40px;
            }
        }
        &.-noneAvatar{
            & .-msg{
                padding: 0;
            }
        }
        &.-me{
            & .-wrapMsg{
                background: $message_green;
                & .-ugol{
                    & svg{
                        fill: $message_green;
                    }
                }
            }
        }
        &.-active{
            position: relative;
            &:before{
                position: absolute;
                top: 5px;
                bottom: -5px;
                left: -200%;
                right: -200%;
                background: rgba(#aaa,.2);
                content: '';
            }
        }
    }
}