.NoneSignal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    &__item{
        margin: 10px;
        background: #fff;
        padding: 30px;
        -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
        text-align: center;
        line-height: 1.8rem;
        & b{
            font-size: 1.5rem;
        }
        & div{
            padding-top: 15px;
        }
    }
}