@import "../../../assets/scss/var";

$w: 30px;
$o: 14px;
$r: -$o+$w;
.CheckboxX{
    cursor: pointer;
    position: relative;
    display: flex;
    & > input{
        display: none;
    }
    &.-checkbox{
        width: $w;
        height: 18px;
        &:before{
            content: '';
            display: block;
            -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;
            background: $checkbox_BgInActive;
            position: absolute;
            left: 0;
            right: 0;
            top: 2px;
            bottom: 2px;
            transition: $speedRadio;
        }
        &:after{
            content: '';
            display: block;
            -webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;
            background: #fff;
            width: $o;
            height: $o;
            border: 2px solid $checkbox_BgInActive;
            transform: translateX(0);
            position: relative;
            left: -2px;
            transition: $speedRadio;
        }
        &.-checked{
            &:before{
                background: $checkbox_BgActive;
            }
            &:after{
                transform: translateX($r);
                border-color: $checkbox_BgActive;
            }
        }
    }
}