.svg-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-93-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_1check-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_2checks-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_FullScreen-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_activesessions-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_add-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_addmember_filled-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_adduser-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_admin-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_animals-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_archive-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_attach-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_avatar_archivedchats-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_avatar_deletedaccount-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_avatar_savedmessages-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_back-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_camera-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_cameraadd-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_car-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_channel-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_channelviews-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_chatsplaceholder-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_check-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_checkbox-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_checkboxblock-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_checkboxempty-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_checkboxon-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_clip-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_close-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_contacts-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_copy-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_data-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_delete-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_delete_filled-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_deleteuser-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_doc_load-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_docs-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_document-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_dop-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_down-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_download-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_eats-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_edit-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_empty-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_eye1-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_eye2-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_file-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_flag-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_forward-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_group-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_help-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_img-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_info-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_kolokol-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_kolokolminus-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_lamp-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_language-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_largepause-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_largeplay-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_link-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_location-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_lock-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_logout-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_menu-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_menu2-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_message-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_microphone-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_moon-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_more-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_mute-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_my-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_newchannel-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_newchat_filled-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_newgroup-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_newprivate-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_next-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_next_svg-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_options-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_pause-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_permissions-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_phone-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_photo-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_pin-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_pinnedchat-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_play-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_radiooff-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_radioon-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_ramka-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_recent-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_reply-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_savedmessages-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_search-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_send-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_send2-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_sending-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_sendingerror-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_settings-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_smallscreen-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_smile-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_sport-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_stop-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_ugol-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_unarchive-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_unlock-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_unmute-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_unpin-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_unread-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_up-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_user-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_username-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_video-dims {
	width: 24px;
	height: 24px;
}

.svg-icon_zoom-dims {
	width: 24px;
	height: 24px;
}

