$blue: #4EA4F5;
$colorData: #a0acb6;
$blackBlue: #707579;
$black: #222;
$colorIconDrawer: #a8a8a8;
$grey: #999;
$greyHover: #f1f1f1;
$greyLine: rgba(241, 241, 241, 0.11);
$greyHoverIcon: #555;
$Center_paddinLeft:17px;
$Center_paddinRight:10px;
$paddingLingHeight: 3px;

$speedStart: .6s;
$speed: .3s;
$speedRadio: .2s;
$speedShow: .2s;
$speedScale: .2s;
$speedRotate: .2s;

//////////////////////////////////////////////////////////////////////////////
//STATUS
$message_green: #eeffde;
$status_Success: #4ab44a;
$status_Error: #d84d4d;

//SPEED
$speedButtons: .0s;
$speedInputs: .2s;
$speedLoginStart: .6s;
$speedLoginToggle: .3s;

//APP
$body_bg: #fff;
$body_bgGradientTop: #0f89d0;
$body_bgGradientBottom: #38afef;
$body_iconsFill: rgba(#fff,.5);

//MINIMENU
$miniMenu_BR: 7px;

//BUTTONS
$buttonMain_FS: 1.7rem;
$buttonMain_BR: 3px;
$buttonMain_Height: 45px;
$buttonMain_Bg: #40a7e3;
$buttonMain_Color: #fff;
$buttonMain_Hover_BR: 3px;
$buttonMain_Hover_Bg: #339ed4;
$buttonMain_Hover_Color: #fff;
$buttonMain_ActiveRipple: #0052a4;

$buttonNav_FS: 1.4rem;
$buttonNav_BR: 3px;
$buttonNav_Height: 40px;
$buttonNav_Bg: #fff;
$buttonNav_Color: #168acd;
$buttonNav_Hover_BR: 100px;
$buttonNav_Hover_Bg: #e3f1fa;
$buttonNav_Hover_Color: #168acd;
$buttonNav_ActiveRipple: #a5d6f6;

$buttonLink_FS: 1.5rem;
$buttonLink_Height: 40px;
$buttonLink_Bg: #fff;
$buttonLink_Color: #222222;
$buttonLink_Hover_Bg: #f1f1f1;
$buttonLink_Hover_Color: #222222;
$buttonLink_ActiveRipple: rgba(112,117,121,.24);

$buttonIcon_FS: 1.4rem;
$buttonIcon_BR: 100px;
$buttonIcon_Height: 40px;
$buttonIcon_Width: 40px;
$buttonIcon_Bg: #fff;
$buttonIcon_Color: #a8a8a8;
$buttonIcon_Hover_BR: 3px;
$buttonIcon_Hover_Bg: rgba(112,117,121,.08);
$buttonIcon_Hover_Color: #888;
$buttonIcon_ActiveRipple: rgba(112,117,121,.24);
$buttonIcon_Active: #40a7e3;

$buttonDark_FS: 1.4rem;
$buttonDark_BR: 100px;
$buttonDark_Height: 40px;
$buttonDark_Width: 40px;
$buttonDark_Bg: transparent;
$buttonDark_Color: #a8a8a8;
$buttonDark_Hover_BR: 3px;
$buttonDark_Hover_Bg: rgba(#fff,.08);
$buttonDark_Hover_Color: #888;
$buttonDark_ActiveRipple: rgba(#fff,.16);
$buttonDark_Active: #40a7e3;

//INPUTS
$inputMain_FS: 1.4rem;
$inputMain_BR: 0px;
$inputMain_Bg: #fff;
$inputMain_PlaceholderColor: #999;
$inputMain_Color: #000;
$inputMain_LineBg: #37a1de;
$inputMain_LineBgError: $status_Error;

$inputIcon_FS: 1.4rem;
$inputIcon_BR: 0px;
$inputIcon_Bg: #fff;
$inputIcon_Color: #a8a8a8;

//RADION_CHACKBOX
$radio_BgActive: #40a7e3;
$radio_BgInActive: #a8a8a8;
$radio_Hover_BgActive: #40a7e3;
$radio_Hover_BgInActive: #999;

$checkbox_BgActive: #40a7e3;
$checkbox_BgInActive: #b3b3b3;
$checkbox_Hover_BgActive: #40a7e3;
$checkbox_Hover_BgInActive: rgba(112,117,121,.24);

//LINKS
$linkMain_Bg: #fff;
$linkMain_Color: #168acd;
$linkMain_TextDecoration: none;
$linkMain_Hover_Bg: #fff;
$linkMain_Hover_Color: #168acd;
$linkMain_Hover_TextDecoration: underline;

$linkBlock_Bg: #fff;
$linkBlock_Color: #000;
$linkBlock_ColorDesc: #999;
$linkBlock_Hover_Bg: #f1f1f1;
$linkBlock_Hover_Color: #000;
$linkBlock_Hover_ColorDesc: #999;
$linkBlock_ActiveRipple: #e5e5e5;

//TEXTS
$textColorTitle: #222222;
$textColorDesc: #999999;

//MODAL
$modalMaxWidth1: 400px;
$modalMaxWidth1_top: 4vh;
$modalMaxWidth1_bot: auto;
$modalMaxWidth2: 340px;
$modalMaxRadius: 3px;
$modalTitle_Color: #404040;
$modalTitleSize: 2rem;
$modalIndentLeft: 20px;
$modalIndentRight: 20px;

//BLOCKS
$blocks_LineHeight: 10px;
$blocks_LineBg: #f1f1f1;
$blocks_LineColor: #999;
$blocks_Padding: 10px;

//SCROLL
$widthBar: 8px;
$widthBarPadding: 4px;
$widthBarLine: 5px;
$widthBarBox: 5px;

$scroll_Speed: .2s;
$scroll_Opacity: .4;
$scroll_OpacityHover: .6;
$scroll_ElemBg: #555;
$scroll_LineBg: #ccc;
$scroll_TopLineBg: #e7e7e7;
$scroll_LineColor: #e7e7e7;

//MESSAGE
$message_Radius: 10px;

.none-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;
}
.none-focus{
    outline: none;
}
.mirror-horizontally{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}
.mirror-vertically{
    -moz-transform: scale(1,-1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
    filter: "FlipV";
    -ms-filter: "FlipV";
}
.none-wrap{
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.none-scroll{
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}
.dopLineTop{
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.dopLineBot{
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.color_red{
    color: $status_Error;
}


$maxWidthDrawer: 310px;
$minWrapWidth: 1170px;