@import "device";
@import "normalize";
@import "sprite";
//@import "fonts";
@import "var";
$transition: .3s;
*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', 'Helvetica'
}
body{
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    //overflow: hidden;
    overflow-x: hidden;
    background: #fff;
    background-image: url("/img/bg/0.jpg");
    background-position: left top;
    background-repeat: repeat;
    height: 100vh;
}
#root{
    height: 100%;
    & > div{
        height: 100%;
    }
}
.TEST{
    background: red;
    width: 150px;
    height: 50px;
}
.TEXT_BOX{
    width: 600px;
    height: 200px;
    background: #eee;
    margin: 30px;
    position: absolute;
    right: 20%;
    top: 50px;
    outline: 1px solid #aaa;
    padding: 20px;
}
.App{
    min-width: 300px;
}
.App-icon{
    width: 100px;
    height: 100px;
    fill: red;
}
.Icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill $speedButtons cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    &.-large{
        font-size: 1.8rem;
    }
    &.-small{
        font-size: 1.1rem;
    }
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    & a{
        margin-right: 20px;
    }
}
.Backdrop{
    background: rgba(#000, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    cursor: pointer;
    transition: .2s;
    opacity: 1;
    &.-none{
        background: transparent;
    }
    &-node-enter{
        opacity: 0;
    }
    &-node-enter-active{
        opacity: 1;
    }
    &-node-exit{
        opacity: 1;
    }
    &-node-exit-active{
        opacity: 0;
    }
}
.blockLink{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &__l{
        flex-grow: 1;
        flex-shrink: 1;
    }
    &__r{
        display: flex;
        justify-content: flex-end;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
.testXXX{
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 56px;
    max-width: 300px;
    width: 100%;
    background: $blue;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6rem;
    border-radius: 3px;
    transition: .2s;
    &:hover{
        background: darken($blue, 10%);
    }
    &-link{
        border: 0;
        background: transparent;
        text-decoration: none;
        outline: none;
        color: $blue;
        &:hover{
            text-decoration: underline;
        }
    }
}
.ScaleBox{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: left top;
    &.-s105{
        width: 95.15%;
        height: 95.15%;
        transform: scale(1.05);
    }
    &.-s110{
        width: 91.7%;
        height: 91.7%;
        transform: scale(1.09);
    }
    &.-s115{
        width: 86.9%;
        height: 86.9%;
        transform: scale(1.15);
    }
    &.-s120{
        width: 84%;
        height: 84%;
        transform: scale(1.19);
    }
    &.-s125{
        width: 80%;
        height: 80%;
        transform: scale(1.25);
    }
    &.-s150{
        width: 64%;
        height: 64%;
        transform: scale(1.5625);
    }
    &.-LeftBottom{
        transform-origin: left bottom;
    }
}
.modify-enter{
    transform: translateX(0) scale(.5);
    opacity: 0;
}
.modify-enter-active{
    transform: translateX(-100%) scale(1);
    transition: .5s;
    opacity: 1;
}
.modify-enter-done{
    transform: translateX(0) scale(1);
    opacity: 1;
}
.modify-exit{
    transform: translateX(0) scale(1);
    opacity: 1;
}
.modify-exit-active{
    transform: translateX(-100%) scale(.5);
    transition: .5s;
    opacity: 0;
}
.modify-exit-done{
    transform: translateX(-100%) scale(.5);
    opacity: 0;
}
.InfoRight{
    display: flex;
    padding: 0 10px 0 20px;
    &__name{
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: 500;
        text-align: left;
        font-size: 1.6rem;
    }
    &__close{}
}
.ChatsList{
    &__pre{
        background: #f1f1f1;
        color: #919191;
        height: 32px;
        padding: 0 18px;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        @extend .none-wrap;
    }
    &__InfoItem{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        padding: 0 0 0 10px;
        & .-l{
            width: 47px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        & .-c{
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
            overflow: hidden;
            font-weight: 500;
            font-size: 1.3rem;
            @extend .none-wrap;
        }
        & .-r{
            width: 45px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
    &__item{
        overflow: hidden;
        display: flex !important;
        align-items: center;
        height: 62px;
        width: 100%;
        -webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
        padding: 0 !important;
        line-height: inherit;
        font-weight: inherit;
        text-transform: inherit;
        cursor: pointer;
        &:hover{
            background: #f1f1f1;
        }
        &.-active{
            background: $blue;
            color: #fff;
            & .ChatsList__msg .-text,
            & .ChatsList__name .-date{
                color: #fff;
            }
            & .ChatsList__msg .-count span{
                background: rgba(#fff, .7);
                color: $blue;
            }
            & .rtr-ripple{
                background-color: $buttonIcon_Active !important;
            }
        }
    }
    &__img{
        display: flex;
        justify-content: center;
        width: 70px;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;
        z-index: 1;
    }
    &__info{
        flex-shrink: 1;
        flex-grow: 1;
        padding-right: 15px;
        overflow: hidden;
        text-align: left;
        position: relative;
        z-index: 1;
    }
    &__name{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        & .-name{
            font-size: 1.4rem;
            font-weight: 500;
            overflow: hidden;
            @extend .none-wrap;
        }
        & .-date{
            padding-left: 8px;
            color: #aaa;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    &__msg{
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        & .-text{
            font-size: 14px;
            overflow: hidden;
            width: 100%;
            @extend .none-wrap;
            color: #aaa;
            font-weight: 300;
        }
        & .-count{
            position: relative;
            z-index: 1;
            padding-left: 10px;
            //&:after{
            //    content: '';
            //    display: block;
            //    height: 100%;
            //    position: absolute;
            //    margin-left: -10px;
            //    width: 10px;
            //    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            //    top: 0;
            //    right: 100%;
            //    z-index: 1;
            //}
            & span{
                -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
                background: #d0d0d0;
                padding: 0 6px;
                display: flex;
                align-items: center;
                height: 18px;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
}
.ContentBody{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top{
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__in{
        overflow: auto;
        width: 100%;
        max-height: 100%;
    }
    &__body{
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-position: left center;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
    }
    &__bot{
        flex-shrink: 0;
        flex-grow: 0;
        background: #fff;
    }
}
.BlockModify{
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &__wrap{
        width: 200%;
        height: 100%;
        display: flex;
        & > *:last-child{
            order: 0;
        }
    }
    &__item{
        width: 50%;
        order: 1;
    }
}
.show{
    &-enter{
        opacity: 0;
    }
    &-enter-active{
        opacity: 1;
        transition: opacity $speedShow ease-in;
    }
    &-enter-done{
        opacity: 1;
    }
    &-exit{
        opacity: 1;
    }
    &-exit-active{
        opacity: 0;
        transition: opacity $speedShow ease-in;
    }
    &-exit-done{
        opacity: 0;
    }
}
.scale50{
    &-enter-active, &-enter-done, &-exit{
        opacity: 1;
        transform: scale(1);
        transition: all .05s ease-in;
    }
    &-exit-active, &-exit-done, &-enter{
        opacity: 0;
        transform: scale(0);
        transition: all .05s ease-in;
    }
}
.scale100{
    &-enter-active, &-enter-done, &-exit{
        opacity: 1;
        transform: scale(1);
        transition: all .1s ease-in;
    }
    &-exit-active, &-exit-done, &-enter{
        opacity: 0;
        transform: scale(0);
        transition: all .1s ease-in;
    }
}
.scale{
    &-enter-active, &-enter-done, &-exit{
        opacity: 1;
        transform: scale(1);
        transition: all $speedScale ease-in;
    }
    &-exit-active, &-exit-done, &-enter{
        opacity: 0;
        transform: scale(0);
        transition: all $speedScale ease-in;
    }
}
.rotate100{
    &-enter-active, &-enter-done, &-exit{
        position: inherit;
        opacity: 1;
        transform: scale(1) rotate(0);
        transition: all .1s ease-in;
    }
    &-exit-active, &-exit-done, &-enter{
        position: absolute;
        opacity: 0;
        transform: scale(0) rotate(-180deg);
        transition: all .1s ease-in;
    }
}
.rotate{
    &-enter-active, &-enter-done, &-exit{
        position: inherit;
        opacity: 1;
        transform: scale(1) rotate(0);
        transition: all $speedRotate ease-in;
    }
    &-exit-active, &-exit-done, &-enter{
        position: absolute;
        opacity: 0;
        transform: scale(0) rotate(-180deg);
        transition: all $speedRotate ease-in;
    }
}
.scale80{
    &-enter{
        opacity: 0;
        transform: scale(0.8);
    }
    &-enter-active{
        opacity: 1;
        transform: scale(1);
        transition: all $speedScale ease;
    }
    &-enter-done{
        opacity: 1;
        transform: scale(1);
    }
    &-exit{
        transform: scale(1);
    }
    &-exit-active{
        opacity: 0;
        transform: scale(0.8);
        transition: all $speedScale ease;
    }
    &-exit-done{
        opacity: 0;
        transform: scale(0.8);
    }
}
.InitializeApp{
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &__label{
        padding-top: 30px;
        color: #aaa;
        width: 100%;
    }
    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 350px;
        padding: 40px;
        line-height: 2rem;
        //box-shadow: 0 0 10px rgba(#aaa,.2);
        -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
    }
    &__lock{
        //transform: scale(8.5);
        animation: initLock 3s ease infinite;
    }
}
@keyframes initLock{
    from{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    to{
        opacity: 0;
    }
}
.Avatar{
    width: 46px;
    height: 46px;
    -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
    background: olivedrab;
    display: flex!important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @extend .none-select;
    &.big{
        width: 70px;
        height: 70px;
        & b{
            font-size: 2.2rem;
            font-weight: 500;
        }
    }
    &.small{
        width: 33px;
        height: 33px;
        & b{
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    &.medium{
        width: 36px;
        height: 36px;
        & b{
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
    & b{
        text-transform: uppercase;
        color: #fff;
        font-size: 2rem;
    }
    & img{
        max-width: 100%;
        display: block;
    }
}
.DrawerHeader{
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    &__avatar{
        height: 70px;
        display: flex;
        align-items: flex-end;
        padding-left: 25px;
    }
    &__info{
        padding: 10px 16px 16px 28px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        & .-contacts{
            color: #fff;
            font-size: 1.3rem;
            text-align: left;
            & .-name{
            }
            & .-phone{
                font-weight: 300;
                padding-top: 3px;
            }
        }
        & .-my{
            & div{
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
                background: rgba(#000, .2);
                & svg{
                    fill: #fff;
                }
            }
        }
    }
}
.DrawerContent{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    &__head{
        flex-grow: 0;
        flex-shrink: 0;
        padding-top: 20px;
    }
    &__body{
        flex-grow: 1;
        flex-shrink: 1;
    }
    &__footer{
        flex-grow: 0;
        flex-shrink: 0;
        padding: 20px 20px 20px 28px;
        color: $grey;
        text-align: left;
        & a{
            text-decoration: none;
            color: $grey;
            &:hover{
                text-decoration: underline;
            }
        }
        & .-name{
            font-weight: 500;
        }
        & .-version{
            padding-top: 5px;
            font-size: 1.3rem;
        }
    }
}
.DrawerList{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    position: relative;
    &__item{
        cursor: pointer;
        display: flex !important;
        align-items: center;
        overflow: hidden;
        height: 44px;
        justify-content: space-between;
        @extend .none-select;
        &:hover{
            background: $greyHover;
        }
        & .-iconBox{
            width: 74px;
            display: flex;
            justify-content: center;
            position: relative;
            top: -1px;
            flex-shrink: 0;
            flex-grow: 0;
            & svg{
                fill: $colorIconDrawer;
            }
        }
        & .-txt{
            text-align: left;
            white-space: nowrap;
            font-weight: 400;
            font-size: 1.4rem;
            flex-shrink: 1;
            flex-grow: 1;
            overflow: hidden;
            @extend .none-wrap;
        }
        & .-check{
            flex-shrink: 0;
            flex-grow: 0;
            padding: 0 16px 0 15px;
        }
    }
    &.-dopLineTop{
        &:before{
            @extend .dopLineTop;
        }
    }
    &.-dopLineBot{
        &:after{
            @extend .dopLineBot;
        }
    }
}
.Ripple{
    position: relative;
    &__list{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }
    &__elem{
        width: 20px;
        height: 20px;
        -webkit-border-radius: 1000%;-moz-border-radius: 1000%;border-radius: 1000%;
        background: red;
        position: absolute;
    }
}
.Chat{
    padding: 10px 14px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.8rem;
    margin-right: 2%;
    &__wrap{
        max-width: 430px;
    }
    &__item{
        display: flex;
        align-items: flex-end;
        margin-top: 8px;
        & .-ava{
            flex-grow: 0;
            flex-shrink: 0;
        }
        & .-msg{
            padding-left: 9px;
            & .-wrap{
                position: relative;
                padding: 8px 10px 7px 13px;
                -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
                border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;
                background: #fff;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: flex-end;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                & .-ten{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: -7px;
                    height: 4px;
                    width: 8px;
                    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
                }
                &:hover{
                    & .-nick{
                        & span{
                            opacity: 1;
                        }
                    }
                }
                & .-ugol{
                    position: absolute;
                    bottom: 0;
                    right: 100%;
                    margin-right: -1px;
                    background: url("/img/svg/ugol.svg");
                    display: block;
                    width: 9px;
                    height: 18px;
                    &:before{
                        content: '';
                        display: block;
                        height: 1px;
                        background: #fff;
                        left: 0;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                    }
                }
                & .-txt{
                    //background: yellowgreen;
                    float: left;
                }
                & .-nick{
                    padding-bottom: 1px;
                    color: deepskyblue;
                    display: flex;
                    justify-content: space-between;
                    & div{
                        font-weight: 500;
                        font-size: 1.4rem;
                    }
                    & span{
                        color: $colorData;
                        opacity: 0;
                        font-weight: 300;
                        cursor: pointer;
                        text-decoration: none;
                        font-size: 1.3rem;
                        position: relative;
                        top: -1px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                & .-date{
                    transform: translateY(6px);
                    padding-left: 10px;
                    float: right;
                    color: $grey;
                    font-size: 1.2rem;
                    &.-newline{
                        margin-top: -16px;
                    }
                }
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
    }
}
.ripple-entering{
    opacity: 0.3;
    transform: scale(1);
    animation: ripple-enter 500ms cubic-bezier(0.4, 0, 0.2, 1)
}
.ripple-exiting{
    opacity: 0;
    animation: ripple-exit 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes ripple-enter{
    0%{ transform: scale(0); }
    100%{ transform: scale(1); }
}
@keyframes ripple-exit{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
.Drawer{
    position: fixed;
    //left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    max-width: $maxWidthDrawer;
    min-width: 200px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    padding-right: 10px;
    &:after{
        content: '';
        display: none;
        position: absolute;
        width: 100%;
        background: #fff;
        right: 100%;
        border-right: 1px solid rgba(#555, .1);
        top: 0;
        height: 100%;
        //opacity: .2;
        //background-image: url("/img/bg/0.jpg");
        //background-position: left top;
        //background-repeat: repeat;
    }
    &__body{
        width: 100%;
        background: #fff;
        transition: $transition;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
        position: relative;
    }
    &__dopil{
        position: absolute;
        left: 100%;
        width: 10px;
        height: 100%;
        cursor: pointer;
    }
    &-node-enter{
        & .Drawer__body{
            transform: translateX(-200%);
        }
    }
    &-node-enter-active{
        & .Drawer__body{
            transform: translateX(0px);
        }
    }
    &-node-exit{
        & .Drawer__body{
            transform: translateX(0px);
        }
    }
    &-node-exit-active{
        & .Drawer__body{
            transform: translateX(-200%);
        }
    }
}
.TEST4{
    background: #ddd;
    &__wrap{
        background: yellow;
        min-height: 500px;
    }
}
.Layout{
    max-width: 2000px;
    min-width: $minWrapWidth;
    margin: auto;
    box-shadow: 0 0 2px rgba(#000, 0.1);
    outline: rgba(70, 70, 70, 0.03) solid 1px;
    &__in{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__list{
        flex-grow: 1;
        flex-shrink: 1;
    }
    &__wrap{
        background: #fff;
        display: flex;
        justify-content: space-between;
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }
    &__left{
        width: 100%;
        min-width: 260px;
        max-width: 260px;
        position: relative;
        background: #fff;
        &.-mini{
            min-width: 70px;
            max-width: 70px;
            width: 70px;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 380px;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-position: left center;
        background-repeat: no-repeat;
    }
    &__right{
        width: 100%;
        min-width: 295px;
        max-width: 295px;
        position: relative;
        z-index: 1;
    }
    &__line{
        width: 8px;
        position: absolute;
        height: 100%;
        top: 0;
        transition: .2s;
        display: flex;
        z-index: 10;
        & div{
            width: 0;
            height: 100%;
            background: red;
        }
        &:hover{
            //background: rgba(#000,.2);
        }
        &.-outside{
            width: 4px;
            left: 0;
            &.-right{
                left: 100%;
                transform: translateX(-4px);
                justify-content: flex-end;
            }
        }
        &.-inner{
            transform: translateX(4px);
            right: 0;
            justify-content: center;
            &:before{
                content: '';
                display: block;
                width: 1px;
                background: rgba(#000, .1);
                height: 100%;
                margin: auto;
                position: relative;
            }
            &.-right{
                right: 100%;
                &:before{
                    left: -1px;
                }
            }
        }
        &.-on{
            cursor: e-resize;
        }
    }
}
@media screen and (max-width: 1330px){
}
@media screen and (max-width: $minWrapWidth){
    .Layout{
        min-width: 320px;
    }
}
@media screen and (max-width: 945px){
    .Layout{
        &__right{
            display: none;
        }
    }
}
@media screen and (max-width: 640px){
    .Layout{
        &__wrap{
            width: 200%;
            transform: translateX(-50%);
            &.-menu{
                & .Layout__left{
                    transition: .2s;
                    transform: translateX(100%);
                    z-index: 10;
                }
            }
        }
        &__body{
            min-width: auto;
            width: 100%;
        }
        &__left{
            max-width: 100% !important;
        }
    }
}
@media screen and (max-width: 480px){
}



.HideMe{
    //position: fixed;
    //left: -100000px;
    //top: 0;
    //visibility: hidden;
    //opacity: 0;
}