@import "../../assets/scss/var";
.LoginIn{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    &__steep0{
        & .-title{
            font-size: 2.2rem;
            color: #000;
        }
        & .-desc{
            font-size: 1.5rem;
            padding: 15px 0 30px;
            color: #999;
            line-height: 2.2rem;
        }
    }
    &__steep1{
        & .-wrap{
            max-width: 300px;
            margin: auto;
        }
        & .-title{
            font-size: 1.6rem;
            color: #000;
            text-align: left;
            font-weight: 500;
        }
        & .-desc{
            text-align: left;
            font-size: 1.3rem;
            padding: 15px 0 20px;
            color: #999;
            line-height: 2rem;
        }
        & .-contry{
            display: flex;
            text-align: left;
            justify-content: space-between;
            position: relative;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            @extend .none-select;
            & svg{
                width: 15px;
                height: 15px;
                fill: #aaa;
                transform: rotate(90deg);
            }
            & .-line{
                position: absolute;
                height: 1px;
                width: 100%;
                left: 0;
                bottom: 0;
                background: #e0e0e0;
            }
            & .-l{
                flex-shrink: 1;
                flex-grow: 1;
                font-size: 1.6rem;
            }
            & .-r{
                width: 15px;
                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                align-items: center;
            }
        }
        & .-error{
            color: #999;
            text-align: center;
            font-size: 1.3rem;
            padding: 15px 0;
            opacity: 0;
            &.-active{
                opacity: 1;
            }
        }
        & .-phone{
            display: flex;
            text-align: left;
            justify-content: space-between;
            margin: 20px 0 0;
            & .-l{
                width: 75px;
                flex-shrink: 0;
                flex-grow: 0;
                @extend .none-wrap;
                & input{
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                }
            }
            & .-c{
                width: 10px;
                flex-shrink: 0;
                flex-grow: 0;
            }
            & .-r{
                flex-shrink: 1;
                flex-grow: 1;
            }
        }
    }
    &__steep2{
        & .-wrap{
            max-width: 300px;
            margin: auto;
        }
        & .-title{
            font-size: 1.6rem;
            color: #000;
            text-align: left;
            font-weight: 500;
        }
        & .-desc{
            text-align: left;
            font-size: 1.3rem;
            padding: 15px 0 10px;
            color: #999;
            line-height: 2rem;
        }
        & .-code{
            & input{
                padding: 0;

            }
        }
        & .-sms{
            text-align: left;
            padding: 20px 0 0;
            & button{
                padding: 0;
            }
        }
        & .-error{
            color: #999;
            text-align: left;
            font-size: 1.3rem;
            padding: 20px 0;
            opacity: 0;
            &.-active{
                opacity: 1;
            }
        }
        & .-phone{
            display: flex;
            text-align: left;
            justify-content: space-between;
            margin: 20px 0 0;
            & .-l{
                width: 50px;
                flex-shrink: 0;
                flex-grow: 0;
            }
            & .-c{
                width: 10px;
                flex-shrink: 0;
                flex-grow: 0;
            }
            & .-r{
                flex-shrink: 1;
                flex-grow: 1;
            }
        }
    }
    &__head{
        height: 0;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        transition: $speed;
        align-items: center;
        justify-content: center;
        background: $blue;
        position: relative;
        background: linear-gradient(0deg, $blue 0%, darken($blue, 20%) 100%);
        & > *{
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            transition: $speed;
        }
        & .-logo{
            margin-left: -80px;
            width: 180px;
            transform: translate(-180px, 180px);
        }
        & .-left{
            width: 270px;
            left: 0;
            opacity: .4;
            bottom: 0;
            position: absolute;
            transform: translateX(-100%);
        }
        & .-right{
            width: 270px;
            right: 0;
            opacity: .4;
            bottom: 0;
            position: absolute;
            transform: translateX(100%);
        }
    }
    &__buttons{
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: space-between;
        & .-left{
            flex-shrink: 0;
            flex-grow: 0;
        }
        & .-right{
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
    &__wrap{
        background: #fff;
        position: relative;
        z-index: 1;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__body{
        //margin: -3% 0 0;
        width: 100%;
        max-width: 400px;
        -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
        background: #fff;
        padding: 40px 20px;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        & form{
            width: 100%;
        }
        & .-button{
            max-width: 300px;
        }
        & .-changeLang{
            padding-top: 20px;
        }
    }
    &BarStart{
        &-enter-active, &-enter-done{
            height: 210px;
            & .-logo{
                transition: $speedStart;
                transform: translate(0px, 0px);
            }
            & .-left{
                transition: $speedStart;
                transform: translateX(0);
            }
            & .-right{
                transition: $speedStart;
                transform: translateX(0);
            }
        }
    }
    &BarToggle{
        &-enter, &-enter-done{
            height: 210px;
            & .-logo{
                transform: translate(0, 0);
            }
            & .-left{
                transform: translateX(0);
            }
            & .-right{
                transform: translateX(0);
            }
        }
        &-exit-active, &-exit-done{
            height: 0;
            & .-left{
                transform: translateX(-100%);
            }
            & .-right{
                transform: translateX(100%);
            }
            & .-logo{
                transform: translate(170px, -120px);
            }
        }
    }
}
@media screen and (max-width: 945px){
    .LoginIn{
        &__head{
            & .-left, & .-right{
                width: 200px;
            }
        }
        &__body{
            padding: 40px 20px 30px;
        }
    }
}
@media screen and (max-width: 640px){
    .LoginIn{
        &__steep0{
            & .-title{
                font-size: 2rem;
            }
            & .-desc{
                font-size: 1.4rem;
            }
        }
        &__steep1{
            padding-top: 30px;
        }
        &__buttons{
            left: 5px;
            right: 5px;
            top: 5px;
        }
        &__body{
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
        }
        &__wrap{
            justify-content: space-between;
        }
    }
}
@media screen and (max-width: 480px){
    .LoginIn{
        &__wrap{
            background: #fff;
        }
        &__body{
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            max-width: 100%;
            & .btn{
                margin: 30px 0 20px;
            }
        }
        &__head{
            & .-left, & .-right{
                width: 140px;
            }
            & .-logo{
                margin-top: 20px;
            }
        }
    }
}