@import "../../../../../assets/scss/var";


.RadioWrapsDefault{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 6px 0;
    @extend .none-select;
    &__l{
        flex-shrink: 0;
        flex-grow: 0;
        width: 50px;
        display: flex;
        align-items: center;
    }
    &__r{
        flex-shrink: 1;
        flex-grow: 1;
    }
}