@import "../../assets/scss/var";

.TopBar{
    background: #fff;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    &.-dopLineTop{
        &:before{
            @extend .dopLineTop;
        }
    }
    &.-dopLineBot{
        &:after{
            @extend .dopLineBot;
        }
    }
}
.TopBarSearch{
    &__left{
        width: 54px;
        display: flex;
        justify-content: center;
        & button{
            height: 40px;
            width: 40px;
            -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
            min-width: auto;
            & svg{
                transition: .2s;
                fill: $grey;
            }
            &:hover{
                background: transparent;
                & svg{
                    fill: $greyHoverIcon;
                }
            }
        }
        &.-mini{
            width: 100%;
        }
    }
    &__search{
        flex-grow: 1;
        flex-shrink: 1;
        padding-right: 11px;
        & > div{
            position: relative;
        }
        & .-close{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & svg{
                fill: #a8a8a8;
                width: 20px;
                height: 20px;
            }
        }
        & input{
            height: 32px;
            padding: 0 25px 0 10px;
            -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
            border: 2px solid transparent;
            transition: .2s;
            background: #f1f1f1;
            width: 100%;
            font-size: 1.3rem;
            font-weight: 300;
            &:focus{
                border-color: $blue;
                background: #fff;
                outline: 0;
                outline-offset: 0;
            }
        }
    }
}
.TopBarTitle{
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: left;
    @extend .none-select;
    &__back{
        width: 40px;
        flex-shrink: 0;
        flex-grow: 0;
        display: none;
    }
    &__name{
        text-align: left;
        flex-shrink: 1;
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__name-wrap{
        padding-left: 10px;
        & .-name{
            color: $black;
            font-weight: 500;
        }
        & .-date{
            padding-top: $paddingLingHeight;
            color: $grey;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    &__icons{
        display: flex;
        & > .-item{
            position: relative;
        }
        & button{
            height: 40px;
            width: 40px;
            -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
            min-width: auto;
            & svg{
                transition: .2s;
                fill: $grey;
            }
            &:hover{
                background: transparent;
                & svg{
                    fill: $greyHoverIcon;
                }
            }
        }
    }
}
.TopBarSend{
    height: 46px;
    min-height: 46px;
    padding-right: 5px;
    align-items: flex-end;
    &__file{
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
        width: 50px;
        padding-left: 6px;
    }
    & button{
        height: 40px;
        width: 40px;
        border-radius: 100px;
        min-width: auto;
        &:hover{
            background: transparent;
            & svg{
                fill: $greyHoverIcon;
            }
        }
        & svg{
            fill: $colorIconDrawer;
        }
    }
    & > * {
        display: flex;
        align-items: center;
    }
    &__input{
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
        & textarea{
            resize: none;
            overflow: hidden;
            width: 100%;
            padding: 10px 0;
            border: 0;
            height: 100%;
            outline: none;
            display: flex;
            align-items: center;
            &::-webkit-input-placeholder {color:#aaa}
            &::-moz-placeholder          {color:#aaa}
            &:-moz-placeholder           {color:#aaa}
            &:-ms-input-placeholder      {color:#aaa}
        }
    }
    &__button{
        padding-left: 3px;
        & > *{
            margin-left: 2px;
        }
    }
}



@media screen and (max-width: 1330px){
}
@media screen and (max-width: $minWrapWidth){
}
@media screen and (max-width: 945px){
    .TopBarTitle{
        &__icons{
            & .-bar{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 640px){
    .TopBarTitle{
        &__back{
            display: block;
        }
    }
}
@media screen and (max-width: 480px){
}