@import "../../assets/scss/var";
.MiniMenu{
    position: absolute;
    padding: 7px 0;
    -webkit-border-radius: $miniMenu_BR;-moz-border-radius: $miniMenu_BR;border-radius: $miniMenu_BR;
    box-shadow: 0 4px 9px 3px rgba(115, 114, 114, 0.28);
    background: #fff;
    z-index: 100;
    @extend .none-select;
    &.-topRight{
        bottom: 100%;
        transform-origin: right bottom;
        right: 0;
    }
    &.-topLeft{
        bottom: 100%;
        transform-origin: left bottom;
        left: 0;
    }
    &.-botRight{
        transform-origin: right top;
        top: 100%;
        right: 0;
    }
    &.-botLeft{
        transform-origin: left top;
        top: 100%;
        left: 0;
    }
    &__wrap{
        z-index: 9;
        position: fixed;
        left: -1000px;
        top: -1000px;
        right: -1000px;
        bottom: -1000px;
        background: rgba(0, 0, 0, 0.32);
        transition: .2s;
    }
    &__item{
        white-space: nowrap;
        padding: 0 17px;
        width: 100%;
        display: flex !important;
        height: 33px;
        align-items: center;
        &:hover{
            background: #f1f1f1;
        }
    }
    &-enter,&-enter-done{
        animation: MiniMenu_scale .2s ease-in-out forwards;
    }
    &-exit, &-exit-done{
        animation: MiniMenu_scale2 .2s ease-in-out forwards;
    }
    &__itemX{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: 46px;
        padding: 0 20px;
        max-width: 270px;
        min-width: 180px;
        &.-red{
            color: $status_Error;
            & svg{
                fill: $status_Error;
            }
            & .rtr-ripple{
                background-color: rgba($status_Error,.24) !important;
            }
            &:hover{
                background-color: rgba($status_Error,.08);
            }
        }
        &.-good{
            color: $status_Success;
            & svg{
                fill: $status_Success;
            }
            & .rtr-ripple{
                background-color: rgba($status_Success,.24) !important;
            }
            &:hover{
                background-color: rgba($status_Success,.08);
            }
        }
        &:hover{
            background: rgba($blackBlue,.08);
            & .MiniMenu__count{
                & span{
                    background: $blackBlue;
                }
            }
        }
    }
    &__icon{
        width: 45px;
        flex-shrink: 0;
        flex-grow: 0;
        & svg{
            fill: $blackBlue;
        }
    }
    &__label{
        flex-shrink: 1;
        flex-grow: 1;
        text-align: left;
        font-weight: 500;
        padding-right: 5px;
        @extend .none-wrap
    }
    &__count{
        padding-left: 25px;
        margin: 0 -5px;
        & span{
            -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
            background: rgba($blackBlue,.5);
            color: #fff;
            padding: 2px 7px;;
        }
    }
}

@keyframes MiniMenu_scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes MiniMenu_scale2{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}