@import "../../assets/scss/var";

.ModalContainer{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrap{
        display: flex;
        //justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 450px;
        flex-direction: column;
    }
    &__in{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-height: 100%;
        width: 100%;
    }
    &__content{
        overflow: auto;
        height: 100%;
        background: #fff;
    }
    &__top{
        flex-grow: 1;
        flex-shrink: 1;
        height: $modalMaxWidth1_top;
    }
    &__bot{
        //flex-grow: 1;
        //flex-shrink: 1;
        height: $modalMaxWidth1_bot;
    }
    &__body{
        max-height: 100%;
        display: flex;
    }
}
