.Box{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    //margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    &__head{
        background: rgba(yellow,.2);
    }
    &__body{
        overflow: hidden;
        display: flex;
    }
    &__footer{
        background: rgba(yellow,.2);
    }
    &__content{
        overflow: auto;
        max-height: 100%;
        background: #fff;
        display: block;
        width: 100%;
    }
}

.PoligonTest{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    max-width: 350px;
    &__content{
        overflow: auto;
        height: 100%;
        background: #fff;
    }
    &__top{
        flex-grow: 1;
        flex-shrink: 1;
        height: 6vh;
    }
    &__bot{
        //flex-grow: 1;
        //flex-shrink: 1;
        //height: 4vh;
        //min-height: 10px;
    }
    &__body{
        max-height: 100%;
        display: flex;
    }
}

.Flat{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrap{
        display: flex;
        //justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 450px;
        flex-direction: column;
    }
}

.TestScroll{
    display: flex;
    max-height: 100%;
    align-items: flex-start;
    height: 100%;
    & > *{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: 20px 0;
    }
    & .Box__content{
        //height: 300px;
    }
}