@import "../assets/scss/var";



.ModalContainer{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.-center{
        & .ModalContainer__wrap{
            justify-content: center;
        }
    }
    &__wrap{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 450px;
        flex-direction: column;
        &.level1{
            justify-content: center;
            & .ModalContainer__top,& .ModalContainer__bot{
                height: auto;
            }
        }
    }
    &__in{
        display: flex;
        flex-direction: column;
        max-height: 100%;
        width: 100%;
        z-index: 100;
        position: relative;
    }
    &__content{
        overflow: auto;
        height: 100%;
        background: #fff;
    }
    &__top{
        flex-grow: 1;
        flex-shrink: 1;
        height: $modalMaxWidth1_top;
    }
    &__bot{
        //flex-grow: 1;
        //flex-shrink: 1;
        height: $modalMaxWidth1_bot;
    }
    &__body{
        max-height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__dopClose{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
    }
}

.Modal{
    display: flex;
    -webkit-border-radius: $modalMaxRadius;-moz-border-radius: $modalMaxRadius;border-radius: $modalMaxRadius;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    width: 100%;
    max-width: $modalMaxWidth1;
    margin: 10px 0;
    background: #fff;
    box-shadow: 0 0 7px #555;
    position: relative;
    z-index: 100;
    &.level1{
        max-width: $modalMaxWidth2;
        margin: 20px;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(#000,.5);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        transition: .2s;
        visibility: hidden;
    }
    &.-bg{
        &:after{
            visibility: visible;
            opacity: 1;
        }
    }
    &__head{
    }
    &__body{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    &__footer{
    }
    &__content{
        overflow: auto;
        max-height: 100%;
        background: #fff;
        display: block;
        width: 100%;
    }
}


.CodeCountry_Modal{
    &__search{
        & input{
            font-size: 1.5rem !important;
            padding: 0 20px !important;
        }
        & .InputX__line{
            display: none;
        }
    }
    &__item{
        padding: 0 20px;
        display: flex;
        text-align: left;
        align-items: center;
        & b{
            padding-right: 10px;
            font-weight: 500;
        }
        & > span{
            color: #999;
        }
    }
}
@media screen and (max-width: 945px){
    .Modal{
        &.level1{
            margin: 15px;
        }
    }
}
@media screen and (max-width: 640px){
    .Modal{
        &.level1{
            margin: 10px;
        }
    }
}
@media screen and (max-width: 430px){
    .Modal{
        &.level0{
            height: 100vh;
            margin: 1px;
            max-width: 100%;
            -webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
        }
    }
}