@import "../../../assets/scss/var";

.ButtonX{
    border: 0;
    transition: $speedButtons;
    background: transparent;
    display: inline-flex !important;
    align-items: center;
    & > .-button{
        border: 0;
        background: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        outline: none;
        justify-content: center;
        transition: $speedButtons;
        align-items: center;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        @extend .none-select;
        & > span{
            position: relative;
            z-index: 1;
            display: flex;
        }
    }
    &-main{
        height: $buttonMain_Height;
        -webkit-border-radius: $buttonMain_BR;-moz-border-radius: $buttonMain_BR;border-radius: $buttonMain_BR;
        font-size: $buttonMain_FS;
        letter-spacing: 0.5px;
        &-ripple{
            & .rtr-ripple{
                background-color: $buttonMain_ActiveRipple !important;
            }
        }
        &-style{
            background: $buttonMain_Bg;
            color: $buttonMain_Color;
        }
        & > .-button{
            text-transform: uppercase;
            padding-left:20px;
            padding-right: 20px;
        }
        &:hover,&:focus{
            background: $buttonMain_Hover_Bg;
        }
    }
    &-nav{
        height: $buttonNav_Height;
        -webkit-border-radius: $buttonNav_BR;-moz-border-radius: $buttonNav_BR;border-radius: $buttonNav_BR;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $buttonNav_FS;
        letter-spacing: 0.5px;
        &-ripple{
            & .rtr-ripple{
                background-color: $buttonNav_ActiveRipple !important;
            }
        }
        &-style{
            background: $buttonNav_Bg;
            color: $buttonNav_Color;
        }
        & > .-button{
            text-transform: uppercase;
            padding-left:15px;
            padding-right: 15px;
            & > span{
                top: 1px;
            }
        }
        &:hover,&:focus{
            background: $buttonNav_Hover_Bg;
        }
    }
    &-link{
        font-size: $buttonLink_FS;
        letter-spacing: 0.5px;
        &-ripple{
            & .rtr-ripple{
                background-color: $buttonLink_ActiveRipple !important;
            }
        }
        &-style{
            background: $buttonLink_Bg;
            color: $buttonLink_Color;
        }
        & > .-button{
            justify-content: flex-start;
            padding-left:23px;
            padding-right: 23px;
            text-align: left;
            & > span{
                display: block;
                width: 100%;
            }
        }
        &:hover,&:focus{
            background: $buttonLink_Hover_Bg;
        }
    }
    &-icon{
        height: $buttonIcon_Height;
        width: $buttonIcon_Width;
        -webkit-border-radius: $buttonIcon_BR;-moz-border-radius: $buttonIcon_BR;border-radius: $buttonIcon_BR;
        text-transform: uppercase;
        font-size: $buttonIcon_FS;
        flex-shrink: 0;
        flex-grow: 0;
        &-ripple{
            & .rtr-ripple{
                background-color: $buttonIcon_ActiveRipple !important;
            }
        }
        &-style{
            background: $buttonIcon_Bg;
            color: $buttonIcon_Color;
            &:hover,&:focus{
                & .Icon{
                    fill: $buttonIcon_Hover_Color;
                }
            }
        }
        & .Icon{
            fill: $buttonIcon_Color;
        }
        & > .-button{
            padding: 0;
        }
        &.rtr-root{
            height: $buttonIcon_Height;
        }
        &.-blue{
            .Icon{
                fill: $buttonIcon_Active;
            }
            & .rtr-ripple{
                background-color: $buttonIcon_Active !important;
            }
        }
        &.-active{
            background: $buttonIcon_Hover_Bg;
            .Icon{
                fill: $buttonIcon_Hover_Color;
            }
        }
    }
    &-icon-hover{
        height: $buttonIcon_Height;
        width: $buttonIcon_Width;
        -webkit-border-radius: $buttonIcon_BR;-moz-border-radius: $buttonIcon_BR;border-radius: $buttonIcon_BR;
        text-transform: uppercase;
        font-size: $buttonIcon_FS;
        flex-shrink: 0;
        flex-grow: 0;
        &-ripple{
            & .rtr-ripple{
                background-color: $buttonIcon_ActiveRipple !important;
            }
        }
        &-style{
            background: $buttonIcon_Bg;
            color: $buttonIcon_Color;
            &:hover,&:focus{
                background: $buttonIcon_Hover_Bg;
                & .Icon{
                    fill: $buttonIcon_Hover_Color;
                }
            }
        }
        & .Icon{
            fill: $buttonIcon_Color;
        }
        & > .-button{
            padding: 0;
        }
        &.rtr-root{
            height: $buttonIcon_Height;
        }
        &.-active{
            background: $buttonIcon_Hover_Bg;
            .Icon{
                fill: $buttonIcon_Hover_Color;
            }
        }
    }
    &-icon-dark{
        height: $buttonDark_Height;
        width: $buttonDark_Width;
        -webkit-border-radius: $buttonDark_BR;-moz-border-radius: $buttonDark_BR;border-radius: $buttonDark_BR;
        text-transform: uppercase;
        font-size: $buttonDark_FS;
        flex-shrink: 0;
        flex-grow: 0;
        &-ripple{
            & .rtr-ripple{
                background-color: $buttonDark_ActiveRipple !important;
            }
        }
        &-style{
            background: $buttonDark_Bg;
            color: $buttonDark_Color;
            &:hover,&:focus{
                background: $buttonDark_Hover_Bg;
                & .Dark{
                    fill: $buttonDark_Hover_Color;
                }
            }
        }
        & .Dark{
            fill: $buttonDark_Color;
        }
        & > .-button{
            padding: 0;
        }
        &.rtr-root{
            height: $buttonDark_Height;
        }
    }
    //=================== модификаторы
    &-offHover{
        &:hover,&:focus{
            background: none;
        }
    }
    &-block{
        width: 100%;
    }
    &.-zakon{
        & .Icon{
            fill: red;
        }
        &:hover,&:focus{
            & .Icon{
                fill: black;
            }
        }
    }
}