@import "../../assets/scss/var";

.Backgrounds{
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    & > *{
        width: 33.3%;
        margin-bottom: 5px;
        display: flex;
        &:nth-child(3n+1){
            justify-content: flex-start;
            padding-right: 4px;
        }
        &:nth-child(3n+2){
            padding: 0 2px;
            justify-content: center;
        }
        &:nth-child(3n+3){
            padding-left: 4px;
            justify-content: flex-end;
        }
    }
    &__item{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        &.-active{
            border: 2px solid $blue;
            & .-wrap{
                border: 4px solid #fff;
            }
        }
        & img{
            max-width: 100%;
            display: block;
            opacity: 0;
        }
    }
}