@import "../../assets/scss/var";

.InfoWrap{
    &__body{
        padding: 15px 0;
        & .-button{
            padding-left: $modalIndentLeft;
            padding-right: $modalIndentRight;
        }
    }
    &__item{
        padding: $blocks_LineHeight/2 0;
        position: relative;
        overflow: hidden;
        background: $blocks_LineBg;
        color: $blocks_LineColor;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -20px;
            right: -20px;
            box-shadow: inset 0 1px 4px -2px #b3b3b3;
            z-index: 1;
        }
    }
    &__padding{
        padding: 10px $modalIndentRight 7px $modalIndentLeft;
        line-height: 1.8rem;
        font-size: 1.3rem;
    }
}
.InfoAvatar{
    height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__ava{
        padding: 0 20px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &__info{
        text-align: left;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        padding-right: 30px;
        & .-name{
            overflow: hidden;
            font-size: 1.8rem;
            @extend .none-wrap;
        }
        & .-desc{
            padding-top: 5px;
            color: $grey;
        }
    }
}
.InfoList{
}
.InfoLinkList{
    overflow: hidden;
    &__item{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        min-height: 38px;
        &:hover{
            background: $greyHover;
        }
        &.-link{
            cursor: pointer;
            &:hover{
                background: $greyHover;
            }
        }
        & .-img{
            flex-shrink: 0;
            flex-grow: 0;
            width: 80px;
            display: flex;
            justify-content: center;
            & svg{
                fill: $colorIconDrawer;
            }
        }
        & .-label{
            flex-shrink: 1;
            flex-grow: 1;
            text-align: left;
        }
        & .-checkbox{
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
}


.InfoLink{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    min-height: 38px;
    padding: 0 20px;
    &__icon{
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        padding: 0 25px 0 10px;
        & svg{
            fill: $colorIconDrawer;
        }
    }
    &__text{
        font-size: 1.4rem;
        flex-shrink: 1;
        flex-grow: 1;
        text-align: left;
    }
    &__end{
        text-align: right;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__top{
        align-items: flex-start;
        & .InfoLink__icon{
            padding-top: 5px;
        }
    }
    &__hover{
        &:hover{
            background: $greyHover;
        }
    }
}
.InfoUserText{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 5px 5px 5px 0;
    & .InfoLink__icon{
        padding-top: 10px;
    }
    &__title{
        padding-bottom: 12px;
        & a{
            color: $blue;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        & div{
            color: #999;
            padding-top: 2px;
            font-size: 1.3rem;
        }
    }
    &__body{

    }
    &__end{
        padding-top: 10px;
        color: #999;
        font-size: 1.3rem;
        padding-bottom: 20px;
    }
}
.InfoButton{
    margin-top: 10px;
    & .-button{
        padding-left: 78px;
        justify-content: flex-start;
    }
}




.InfoLinkX{
    display: flex !important;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    & p{
        margin: 0 0 10px;
        &:last-child{
            margin: 0;
        }
    }
    &__icon{
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        padding: 0 23px 0 13px;
        & svg{
            fill: $blackBlue;
        }
        &.-active{
            & svg{
                fill: $blue;
            }
        }
    }
    &__text{
        font-size: 1.4rem;
        flex-shrink: 1;
        flex-grow: 1;
        text-align: left;
        padding-top: 2px;
        color: #000;
        & .-body{
            font-weight: 400;
            & a{
                color: $blue;
                text-decoration: none;
            }
        }
        & .-title{
            color: $blackBlue;
            padding-top: 5px;
            font-size: 1.3rem;
            @extend .none-select;
        }
    }
    &__end{
        text-align: right;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__top{
        align-items: flex-start;
        & .InfoLink__icon{
            padding-top: 5px;
        }
    }
    &__hover{
        &:hover{
            background: $greyHover;
        }
    }
}
.InfoLinkXWrap{
    padding: 0px 0 10px;
}
.InfoInputXWrap{
    padding: 30px 20px;
    & > * {
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__desc{
        margin-top: -5px;
        font-size: 1.2rem;
        color: $blackBlue;
        line-height: 1.8rem;
    }
}