.PoligonUI{
    position: relative;
    &__theme{
        position: absolute;
        right: 20px;
        top: 0;
    }
}
dl{
    margin-bottom: 40px;
    & dt{
        font-size: 2rem;
        background: rgba(#000,.1);
        padding: 10px 20px;
        position: relative;
        padding-left: 60px;
        &:after{
            content: '';
            width: 40px;
            background: rgba(green,.5);
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: block;
        }
    }
    & dd{
        padding-top: 1px;
        display: flex;
        margin: 0;
        flex-direction: column;
    }
}

.element{
    display: flex;
    margin-bottom: 1px;
    justify-content: space-between;
    background: #fff;
    &__title{
        width: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        font-size: 1.2rem;
        color: #aaa;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__body{
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
}