@import "../../../assets/scss/var";

.LoadProgress{
    animation: rotateInfinity 1s linear infinite;
    transform-origin: 20px 20px;
    height: 40px;
    width: 40px;
    &__svg{
        height: 40px;
        width: 40px;
    }
    &__wrap{
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .3s linear;
        //stroke: #eee;
        stroke-width: 10px;
    }
    &__bar{
        stroke: #fff;
    }
    &.-s30{
        height: 30px;
        width: 30px;
        transform-origin: 15px 15px;
        & .LoadProgress__svg{
            height: 30px;
            width: 30px;
        }
    }
    &.-s46{
        height: 46px;
        width: 46px;
        transform-origin: 23px 23px;
        & .LoadProgress__svg{
            height: 46px;
            width: 46px;
        }
    }
    &.-s20{
        height: 20px;
        width: 20px;
        transform-origin: 10px 10px;
        & .LoadProgress__svg{
            height: 20px;
            width: 20px;
        }
    }
}

@keyframes rotateInfinity{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}