@import "../../../assets/scss/var";

.CircleFlay{
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    padding: 10px 0 0;
    &__button{
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
        background: $blue;
        box-shadow: 1px 1px 4px -1px #aaa;
        & svg{
            width: 24px;
            height: 24px;
            fill: #fff;
        }
    }
}