@import "../../assets/scss/var";

.NavBar{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    height: 60px;
    min-height: 60px;
    position: relative;
    padding: 0 15px;
    @extend .none-select;
    &.-dopLineTop{
        &:before{
            @extend .dopLineTop;
        }
    }
    &.-dopLineBot{
        &:after{
            @extend .dopLineBot;
        }
    }
    &__left{
        display: flex;
        text-align: left;
        align-items: center;
        position: relative;
        height: 100%;
        &.-overflow{
            overflow: hidden;
        }
    }
    &__right{
        display: flex;
        text-align: left;
        align-items: center;
        padding-left: 5px;
        height: 100%;
    }
    &__title{
        padding-left: 15px;
        font-size: 1.9rem;
        font-weight: 500;
        @extend .none-wrap;
    }
    & .-button{
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__iconWrap{
        position: relative;
        padding: 5px 0;
    }
    &__search{
        flex-grow: 1;
        flex-shrink: 1;
        padding-right: 5px;
        padding-left: 15px;
        & .-wrap{
            position: relative;
            display: flex;
            cursor: pointer;
        }
        & .-icon{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            width: 50px;
            padding-left: 10px;
            & svg{
                fill: rgba($blackBlue,.5);
            }
        }
        & .-close{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & svg{
                fill: #a8a8a8;
                width: 20px;
                height: 20px;
            }
        }
        & input{
            color: $blackBlue;
            height: 40px;
            padding: 0 25px 0 40px;
            -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
            border: 2px solid transparent;
            transition: .2s;
            background: #f1f1f1;
            width: 100%;
            font-size: 1.5rem;
            &:focus{
                border-color: $blue;
                background: #fff;
                outline: 0;
                outline-offset: 0;
            }
        }
    }
    &__back{
        width: 50px;
        flex-shrink: 0;
        flex-grow: 0;
        display: none;
    }
    &__profile{
        max-width: 100%;
        text-align: left;
        flex-shrink: 1;
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        & .-ava{
            flex-grow: 0;
            flex-shrink: 0;
            padding-right: 10px;
        }
        & .-info{
            overflow: hidden;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            & .-name{
                color: $black;
                font-weight: 500;
                @extend .none-wrap;
            }
            & .-status{
                padding-top: $paddingLingHeight;
                color: $grey;
                font-size: 1.3rem;
                font-weight: 300;
                @extend .none-wrap;
            }
        }
    }
}

