@import "../../../assets/scss/var";

$heightLine: 1px;
$heightLineFocus: 2px;
.InputX{
    position: relative;
    & textarea{
        padding: 15px;
        resize: none;
    }
    & input{
        padding: 0px 15px;
    }
    & input,& textarea{
        width: 100%;
        height: 46px;
        border: none;
        font-size: 1.8rem;
        color: #000;
        font-weight: 400;
        display: flex;
        @extend .none-focus;
        @extend .none-select;
        &:focus ~ .InputX__line{
            & span{
                width: 100%;
            }
        }
    }
    &__default{
        height: $heightLine;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #ddd;
    }
    &__line{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: $heightLineFocus;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & span{
            transition: .2s;
            content: '';
            display: block;
            height: 100%;
            width: 0;
            background: $inputMain_LineBg;
        }
    }
    &__error{
        & span{
            background: red;
            width: 100%;
        }
    }
    &__center{
        & input,& textarea{
            text-align: center;
        }
    }
    &.-circle{
        & input,& textarea{
            border: 1px solid rgba($blackBlue,.4);
            border-radius: 8px;
            overflow: hidden;
            height: 50px;
            font-size: 1.5rem;
        }
        & input{
            &:focus{
                border-color: $blue;
                border-width: 2px;
                padding: 0 14px;
            }
            &:focus ~ .InputX__label{
                color: $blue;
            }
        }
        & textarea{
            &:focus{
                border-color: $blue;
                border-width: 2px;
                padding: 14px;
            }
            &:focus ~ .InputX__label{
                color: $blue;
            }
        }
        &.-error{
            & input,& textarea{
                border-color: $status_Error;
            }
            & input,& textarea ~ .InputX__label{
                color: $status_Error;
            }
        }
        & .InputX__line, & .InputX__default{
            display: none;
        }
        & .InputX__label{
            position: absolute;
            top: -12px;
            padding: 5px;
            left: 12px;
            display: flex;
            background: #fff;
            width: auto;
            font-weight: 500;
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
            color: rgba($blackBlue,.4);
        }
    }
}