@import "../../assets/scss/var";

$x: 0px;
.BoxScroll{
    max-height: 100%;
    overflow: hidden !important;
    position: relative;
    width: 100% !important;
    height: auto !important;
    &__content{
        //position: absolute;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        max-height: 100%;
        top: 0;
        left: 0;
        right: $x;
        bottom: $x;
        min-width: 100%;
        position: relative;
        z-index: 0;
    }
    & > *{
        //width: auto !important;
    }
    &__in{
        width: 100%;
    }
    //&:hover{
    //    & .BoxScroll__bars{
    //        opacity: $scroll_Opacity;
    //        &:hover{
    //            opacity: $scroll_OpacityHover;
    //        }
    //    }
    //}
    &__lines{
        & > div{
            position: absolute;
            width: 100%;
            background: $scroll_LineColor;
            height: 1px;
            transition: .2s;
            opacity: 0;
            &.-show{
                opacity: 1;
            }
        }
        & .-top{
            top: 0;
        }
        & .-bot{
            bottom: 0;
        }
    }
    &__bars{
        -webkit-transition: opacity $scroll_Speed linear 0s;
        -moz-transition: opacity $scroll_Speed linear 0s;
        -o-transition: opacity $scroll_Speed linear 0s;
        transition: opacity $scroll_Speed linear 0s;
        opacity: 0;
        z-index: 10;
        &.-scroll{
            opacity: $scroll_Opacity;
        }
    }
    &__bar{
        position: absolute;
        pointer-events: auto;
        z-index: 20;
        &-wrap{
            position: absolute;
            z-index: 2;
            top: 10px;
            bottom: 10px;
            right: 5px;
            width: 8px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            pointer-events: none;
            transition: all 0.2s linear 0s;
            opacity: 0;
        }
        & div{
            position: relative;
            & > i{
                transition: .3s;
                content: '';
                display: block;
                position: absolute;
                border-radius: 3px;
                background-color: $scroll_LineBg;
            }
            & span{
                position: absolute;
                & > i{
                    transition: .3s;
                    content: '';
                    display: block;
                    position: absolute;
                    border-radius: 3px;
                    background: $scroll_ElemBg;
                    z-index: 1;
                }
            }
        }
        &.-y{
            top: 0;
            height: 100%;
            right: 0;
            padding: $widthBarPadding 0;
            width: $widthBar;
            & div{
                height: 100%;
                & span{
                    top: 50%;
                    height: 20%;
                    width: 100%;
                    & > i{
                        width: $widthBarBox;
                        height: 100%;
                    }
                }
                & >i{
                    width: $widthBarLine;
                    height: 100%;
                }
            }
        }
        &.-x{
            left: 0;
            width: 100%;
            bottom: 0;
            height: $widthBar;
            padding: 0 $widthBarPadding;
            & div{
                width: 100%;
                height: 100%;
                & span{
                    left: 50%;
                    width: 20%;
                    height: 100%;
                    & >i{
                        height: $widthBarBox;
                        width: 100%;
                    }
                }
                & >i{
                    height: $widthBarLine;
                    width: 100%;
                }
            }
        }
    }
}