
.Portal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    display: flex;
    &__item{
        z-index: 110;
        position: absolute;
        width: 50%;
        height: 100%;
        background: #fff;
        transform-origin: right center;
        transform: translateX(5%) rotate(45deg) scale(100);
        &.-two{
            transform: translateX(5%) rotate(-45deg) scale(100);
        }
        &.-right{
            //transform: translateX(100%);
            transform: translateX(95%) rotate(45deg) scale(100);
            transform-origin: left center;
            &.-two{
                transform: translateX(95%) rotate(-45deg) scale(100);
            }
        }
    }
    &-exit-active,&-exit-done,&-enter,&-exit{
        .Portal__item{
            transition-timing-function: linear;
            //transform: translateX(-100%);
            transform: translateX(-400%) rotate(45deg) scale(100);
            &.-two{
                transform: translateX(-400%) rotate(-45deg) scale(100);
            }
            &.-right{
                transform: translateX(500%) rotate(45deg) scale(100);
                //transform: translateX(200%);
                &.-two{
                    transform: translateX(500%) rotate(-45deg) scale(100);
                }
            }
        }
    }
    &-enter-active,&-enter-done{
        .Portal__item{
            transition-timing-function: linear;
            //transform: translateX(0);
            transform: translateX(5%) rotate(45deg) scale(100);
            &.-two{
                transform: translateX(5%) rotate(-45deg) scale(100);
            }
            &.-right{
                transform: translateX(95%) rotate(45deg) scale(100);
                //transform: translateX(100%);
                &.-two{
                    transform: translateX(95%) rotate(-45deg) scale(100);
                }
            }
        }
    }
}