@import "../../../assets/scss/var";

.ModalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 60px;
    @extend .none-select;
    &__b{
        width: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: -10px;
    }
    &__l{
        flex-grow: 1;
        flex-shrink: 1;
        padding-left: 15px;
        text-align: left;
        font-size: $modalTitleSize;
        @extend .none-wrap;
    }
    &__r{
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
    }
}