
.MediaContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    min-height: 100vh;
    background: rgba(#000,.9);
    &__top{
        position: relative;
        z-index: 60;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        flex-grow: 0;
        flex-shrink: 0;
        & .-left{}
        & .-right{
            display: flex;
            & > * {
                margin-left: 5px;
            }
            & svg{
                fill: rgba(#fff,.5);
            }
        }
    }
    &__body{
        z-index: 60;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        & .-wrap{
            position: relative;
            & img{
                max-width: 100%;
                max-height: 100%;
                display: block;
            }
        }
        & .-nav{
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 20%;
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .2s;
            & svg{
                opacity: 0;
                fill: #fff;
                width: 40px;
                height: 40px;
            }
            &.-prev{
                left: 0;
                padding-left: 30px;
                justify-content: flex-start;
                & svg{
                    transform: rotate(-90deg);
                }
            }
            &.-next{
                right: 0;
                padding-right: 30px;
                justify-content: flex-end;
                & svg{
                    transform: rotate(90deg);
                }
            }
            &:hover{
                & svg{
                    opacity: 1;
                }
            }
        }
    }
    &__footer{
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        z-index: 60;
        max-height: 70px;
        display: flex;
        color: #fff;
        align-items: flex-start;
        padding: 20px;
        font-weight: 400;
        max-width: 1200px;
        text-align: center;
        line-height: 1.8rem;
    }
}