@import "../../assets/scss/var";

$radius: 5px;
$radius2: 2px;
.MediaBlock{
    @extend .none-select;
    &__top{
        position: sticky;
        top: 0;
        background: #fff;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        & .-line{
            height: 1px;
            background: #ddd;
            bottom: 0;
            left: 0;
            width: 100%;
            position: absolute;
        }
        & .MediaBlock__nav {
            flex-grow: 1;
            flex-shrink: 1;
            -webkit-border-top-left-radius: $radius;-moz-border-radius-topleft: $radius;border-top-left-radius: $radius;
            -webkit-border-top-right-radius: $radius;-moz-border-radius-topright: $radius;border-top-right-radius: $radius;
            &:last-child{
                -webkit-border-top-right-radius: 0;-moz-border-radius-topright: 0;border-top-right-radius: 0;
            }
            &:first-child{
                -webkit-border-top-left-radius: 0;-moz-border-radius-topleft: 0;border-top-left-radius: 0;
            }
            &:hover{
                background: rgba($blackBlue,.08);
            }
        }
        & .-wrap{
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            font-weight: 500;
            color: $blackBlue;
            &.-active{
                color: $blue;
            }
            & i{
                height: 4px;
                background: $blue;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                -webkit-border-top-left-radius: $radius2;-moz-border-radius-topleft: $radius2;border-top-left-radius: $radius2;
                -webkit-border-top-right-radius: $radius2;-moz-border-radius-topright: $radius2;border-top-right-radius: $radius2;
            }
        }
    }
    &__nav{
        height: 45px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__body{
        //border-top: 1px solid #ddd;
    }
}
.MediaEmpty{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    min-height: 100px;
    color: $blackBlue;
}

.MediaMembers{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    &__title{
        font-weight: 500;
        font-size: 1.6rem;
        color: $blackBlue;
        padding: 0px 20px 20px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        min-height: 64px;
        height: 64px;
        padding: 0 20px;
        &:hover{
            background: rgba($blackBlue,.08);
        }
    }
    &__img{
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__info{
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 20px 0 13px;
        & .-name{
            font-weight: 500;
            @extend .none-wrap;
        }
        & .-status{
            padding-top: 4px;
            color: $blackBlue;
            &.-online{
                color: $blue;
            }
        }
    }
}
.MediaLinks{
    display: flex;
    flex-direction: column;
    padding: 0px 0;
    &__item{
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 18px 10px 18px 5px;
        &:hover{
            background: rgba($blackBlue,.08);
        }
    }
    &__img{
        flex-shrink: 0;
        flex-grow: 0;
        padding-left: 15px;
        & .-img{
            background: #ddd;
            height: 48px;
            width: 48px;
            -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__info{
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 20px 0 15px;
        & .-title{
            font-weight: 500;
            color: $black;
            font-size: 1.6rem;
            padding-bottom: 5px;
            @extend .none-wrap;
        }
        & .-name{
            max-height: 33px;
            word-wrap: unset;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            color: $blackBlue;
        }
        & .-link{
            margin-top: 3px;
            color: $blue;
            font-size: 1.3rem;
            @extend .none-wrap;
        }
    }
}
.MediaDocs{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    & .MediaDocs__img{
        padding-left: 15px;
    }
    & .MediaDocs__item{
        padding: 10px 10px 10px 5px;
        &:hover{
            background: rgba($blackBlue,.08);
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
    }
    &__img{
        flex-shrink: 0;
        flex-grow: 0;
        & .-img{
            cursor: pointer;
            height: 48px;
            width: 48px;
            -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            &:hover{
                & .-flay.-load:before{
                    opacity: 1;
                    transform: scale(1);
                }
            }
            & .-flay{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                &.-load:before{
                    -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
                    position: absolute;
                    content: '';
                    display: block;
                    width: 38px;
                    height: 38px;
                    background: rgba(#000,.4);
                    z-index: 1;
                    opacity: 0;
                    transition: .2s;
                    transform: scale(0);
                }
                &.-loading:before{
                    opacity: 1;
                    transform: scale(1);
                }
                & .LoadProgress{
                    z-index: 5;
                    position: relative;
                }
                & .-close{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    z-index: 5;
                }
                & span{
                    padding: 15px 5px 0;
                    position: relative;
                    z-index: 5;
                    @extend .none-wrap;
                }
            }
            & .-icon{
                fill: #fff;
                position: relative;
                z-index: 5;
            }
            & .-wrap{
                width: 48px;
                height: 48px;
                fill: chocolate;
            }
            &.-pdf{
                & .-wrap{
                    fill: red;
                }
            }
            &.-file{
                & .-wrap{
                    fill: #43a047;
                }
            }
            &.-doc{
                & .-wrap{
                    fill: #009fe2;
                }
            }
            &.-zip{
                & .-wrap{
                    fill: orange;
                }
            }
            &.-apk{
                & .-wrap{
                    fill: green;
                }
            }
            &.-file{
                & .-wrap{
                    fill: blueviolet;
                }
            }
        }
    }
    &__info{
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 20px 0 15px;
        & .-title{
            font-weight: 500;
            color: $black;
            font-size: 1.5rem;
            padding-bottom: 3px;
            @extend .none-wrap;
        }
        & .-desc{
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: $blackBlue;
            & u{
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    border-bottom: 1px solid $blackBlue;
                }
            }
        }
    }
}
.MediaMedia{
    padding: 8px 13px 3px 8px;
    display: flex;
    flex-wrap: wrap;
    & > *{
        width: 33.3%;
        margin-bottom: 5px;
        display: flex;
        &:nth-child(3n+1){
            justify-content: flex-start;
            padding-right: 4px;
        }
        &:nth-child(3n+2){
            padding: 0 2px;
            justify-content: center;
        }
        &:nth-child(3n+3){
            padding-left: 4px;
            justify-content: flex-end;
        }
    }
    &__item{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        & img{
            max-width: 100%;
            display: block;
            opacity: 0;
        }
    }
}
.MediaAudio{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    & .MediaAudio__img{
        padding-left: 15px;
    }
    & .MediaAudio__item{
        padding: 10px 20px 10px 5px;
        &:hover{
            background: rgba($blackBlue,.08);
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }
    &__img{
        flex-shrink: 0;
        flex-grow: 0;
        //padding-left: 15px;
        & .-img{
            cursor: pointer;
            height: 48px;
            width: 48px;
            -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            &:hover{
                & .-flay.-load:before{
                    opacity: 1;
                    transform: scale(1);
                }
            }
            & .-flay{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                &.-load:before{
                    -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
                    position: absolute;
                    content: '';
                    display: block;
                    width: 48px;
                    height: 48px;
                    background: rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    opacity: 0;
                    transition: .2s;
                    transform: scale(0);
                }
                &.-loading:before{
                    opacity: 1;
                    transform: scale(1);
                }
                & .LoadProgress{
                    z-index: 5;
                    position: relative;
                }
                & .-close{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    z-index: 5;
                }
                & span{
                    padding: 15px 5px 0;
                    position: relative;
                    z-index: 5;
                    @extend .none-wrap;
                }
                & svg{
                    fill: #fff;
                }
            }
            & .-icon{
                fill: #fff;
                position: relative;
                z-index: 5;
            }
            & .-wrap{
                width: 48px;
                height: 48px;
                fill: transparent;
            }
            & .-play{
                & svg{
                    height: 22px;
                    position: relative;
                    left: 2px;
                }
            }
        }
    }
    &__info{
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 5px 5px 0 15px;
        & .-title{
            font-weight: 500;
            color: $black;
            font-size: 1.5rem;
            @extend .none-wrap;
        }
        & .-track{
            position: relative;
            height: 20px;
            display: flex;
            align-items: center;
            & .-artist{
                font-size: 1.2rem;
                color: $blackBlue;
            }
        }
        & .-loading{
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: $blackBlue;
            & u{
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    border-bottom: 1px solid $blackBlue;
                }
            }
        }
    }
    &__circle{
        width: 48px;
        height: 48px;
        background: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
    }
}
