@import "../../assets/scss/var";
.AvatarX{
    width: 44px;
    height: 44px;
    -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
    background: red;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2rem;
    @extend .none-select;
    &.big{
        width: 70px;
        height: 70px;
        & b{
            font-size: 2.2rem;
            font-weight: 500;
        }
    }
    &__item{
        text-transform: uppercase;
        color: #fff;
        max-width: 100%;
        display: block;
        font-weight: 500;
    }
    &.-none{
        & .AvatarX__item{
            display: none;
        }
    }
    &.-s120{
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }
    &.-s44{
        width: 44px;
        height: 44px;
        font-size: 1.4rem;
        & .AvatarX__item{}
    }
    &.-s33{
        width: 33px;
        height: 33px;
        font-size: 1.2rem;
        & .AvatarX__item{}
    }
    &.-s54{
        width: 54px;
        height: 54px;
        & .AvatarX__item{}
    }
}
.AvatarInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{}
    &__desc{
        padding: 20px 20px 10px;
        text-align: center;
        max-width: 100%;
        overflow: hidden;
        & .-title{
            font-weight: 500;
            font-size: 2.4rem;
            @extend .none-wrap
        }
        & .-wrap{
            padding-top: 4px;
            @extend .none-select;
            & .-status{
            color: #999;
            &.-online{
                color: $blue;
            }
        }
            & .-desc{
                color: #999;
            }
        }
    }
}
.AvatarChange{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
        position: relative;
        -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
    }
    &__avatar{
        background: $blue;
    }
    &__icon{
        display: flex;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        & svg{
            fill: #fff;
            width: 45px;
            height: 45px;
        }
    }
}