@import "../../../assets/scss/var";

.ModalFooter{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
    @extend .none-select;
    & > * {
        margin-left: 10px;
    }
}