@import "../../../assets/scss/var";

.InputRange{
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    &__bg{
        height: 2px;
        background: #ddd;
        position: absolute;
        left: 0;
        width: 100%;
        -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
    }
    &__play{
        height: 2px;
        background: $blue;
        position: absolute;
        left: 0;
        -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
    }
    & input{
        position: relative;
    }
}
input[type=range]{
    position: relative;
    width: 100%;
    height: 20px;
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
    &::-webkit-slider-runnable-track {
        height: 4px;
        border: 0;
        background: transparent;
    }
    &::-moz-range-track {
        height: 4px;
        border: 0;
        background: transparent;
    }
    &::-ms-track {
        height: 4px;
        border: 0;
        background: transparent;
    }
    &::-ms-fill-lower {
        height: 4px;
        border: 0;
        background: transparent;
    }
    &::-ms-fill-upper {
        height: 4px;
        border: 0;
        background: transparent;
    }
    &:focus {
        border: none !important;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $blue;
        border: 0;
        cursor: pointer;
        margin-top: -6px;
    }
    &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $blue;
        border: 0;
        cursor: pointer;
    }
    &::-ms-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $blue;
        border: 0;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}